@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica Inserat LT Std";
  src: url("/HelveticaInseratLTStd-Roman.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
